<h1>ToS Data Viewer</h1>

<h2>categories</h2>
{% if category_list %}
    <ul>
    {% for category in category_list %}
        {% url 'skinset:list_image' category.category as the_url %}
        <li>
            <a href="{{the_url}}">
                {{category.category}}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No images are available.</p>
{% endif %}

<h2>skins</h2>
{% if skin_list %}
    <ul>
    {% for skin in skin_list %}
        {% url 'skinset:list_skin' skin.skin_category as the_url %}
        <li>
            <a href="{{the_url}}">
                {{skin.skin_category}}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No images are available.</p>
{% endif %}
